* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;;
}

.header{
border: 2px solid;
padding: 50px;
margin: 60px auto;
width: 20%;
border-radius: 20px;
        background-color: #f0d9c1;
        line-height: 1.6;


}
.header:hover{
    box-shadow:0px 4px 10px rgb(135, 25, 25) ;
    transform: scale(1.01);
    transition: 0.3s ease;

}

.center h1{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: rgb(135, 25, 25) ;

}
.center h1:hover{
   text-shadow:  2px 2px 5px rgba(111, 91, 91, 0.5);
    
}
.center p{
    padding: 5px;
     color: #767d85;
}

h2{
    color: rgb(135, 25, 25) ;
    padding: 2px;

}

ul {
    list-style-type: square;
}
p{
    padding: 5px;
    
}
ul li{
    padding: 2px;
}
h3{
    padding: 2px;
    color: #41464a;
}