/* Projects Section */
.projects{
    padding: 60px 20px;
    text-align: center;
}

.projects h2{
    font-size: 35px;
    margin-bottom: 40px;
}

/* Card Container */
.project-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Card Design */
.card{
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
}

.card h3{
    margin-bottom: 15px;
}

.card p{
    margin-bottom: 20px;
    color: #555;
}

.card a{
    text-decoration: none;
    color: #6c4eff;
    font-weight: 600;
}